
.meal-header{
  width: 100%;
  position: relative;
  left: 33.65%
}


.meal-header tr{
  color: #00548f;
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  padding: 15px 5px 5px 5px;
}


.meal-name {
  padding-right: 190px;
}


.nutrient-column {
  background: var(--darkGreen);
  color: #fff;
  padding: 5px 10px 5px 10px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  min-width: 60px;
}

.subtitle {
  text-transform: lowercase;
}
