
.meals-header {
  font-size: 25px;
  text-align: left;
  color: var(--darkGreen);
  padding: 10px 10px 10px 10px;
}

.meal {
  min-width: 200px;
  width: auto;
  max-width: 225px;
  text-align: left;
}

.macros {
  background-color: rgb(238, 238, 238);
  text-transform: capitalize;
  padding: 8px 11px 8px 11px;
  border-bottom: 1px solid rgb(230, 230, 230);
  min-width: 60px;
  text-align: center
}

.delete {
  color: rgb(219, 83, 83);
  font-weight: bold;
  text-transform: lowercase !important;
  font-size: 16px;
}

.delete:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 8px;
}