.bottom-bar-daily-total {
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    text-transform: capitalize;
    text-align: right;
}
  .daily-totals {
    padding: 7px;
    border-bottom: 1px solid rgb(214, 214, 214);
    width: auto;
    text-align: center;
  }

  .red {
    color: red;
  }
  

  .green {
    color: green;
  }
