

body {
    --darkGreen: #1e6b58;
    --lightGreen: #5db4a1;
}

/* ******************************************************

****************************************************** */


.app {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  width: 100%;
}
